# CM4125 Topic 6 Lab 1, Joins and Aggregations (Guided)

The `rating.csv` dataset contains user ratings of anime

The data set is structed as follows:
    
| user_id | anime_id | rating |
| ------: | -------: | -----: |
|       1 |    11757 |     10 |
|       2 |    11771 |     10 |
|       3 |       20 |      8 |
|       3 |      154 |      6 |
|       3 |      170 |      9 |
|     ... |      ... |    ... |

Notice that no column is a unique index

In fact, `user_id` indicates the user doing the rating, `anime_id` indicates the anime, and `rating` is the user's rating of that anime from `1` to `10`

Import this dataset, removing in advance all rows with missing data (you should have $5484219$ rows of data)

In [1]:
## Load the data and then do something similar to the .notnull operation in Python
## This will only load the entries that have user_id and anime_id and rating!

         user_id  anime_id  rating
0              1     11757      10
1              2     11771      10
2              3        20       8
3              3       154       6
4              3       170       9
...          ...       ...     ...
5484214    73515     14345       7
5484215    73515     16512       7
5484216    73515     17187       9
5484217    73515     22145      10
5484218    73516       790       9

[5484219 rows x 3 columns]

Let's reorder the dataset as follows:

1. Group the data by `user_id`
2. Aggregate using the `count` operation
3. Sort by count of rating (descending)

In [2]:
## To do this you need to first group all your data by user_id, 
## Then you need to consider that you want the aggregation by count of ratings
## Finally, you sort the table in descending order for the rating counts

         count
user_id
42635     3243
51693     2507
57620     2422
59643     2314
7345      2192
...        ...
46799        1
46795        1
46794        1
46765        1
73516        1

[69180 rows x 1 columns]

If you did all of these steps correctly, now you should have a dataset that tells you how many animes each of the $69180$ users has rated

Moreover, your `user_id` column should be now the index!

**Q. Which user (by ID) has rated the most anime?**

Answer:

Now you will do the following:

1. Create a new dataframe called `anime_ratings` which shows the number of times each anime was rated and it's mean rating
2. Rename column `count` as `Number of Ratings` and `mean` to `Average Rating`
3. Drop any anime which received fewer than $100$ ratings and sort by `Number of Ratings` (descending)
4. Round the average ratings to 2 decimal places

In [3]:
## You need to create a new grouping, but now based on anime_id
## Moreover, you need to see if it is possible to aggregate, both with count and mean!
## Finally, filter out rows with less than 100 ratings in the count, which tou renamed as "Number of ratings"

          Average Rating  Number of Ratings
anime_id
1535                8.83              34226
11757               8.14              26310
16498               8.73              25290
1575                8.93              24126
6547                8.55              23565
...                  ...                ...
2249                5.76                100
18771               6.97                100
360                 6.49                100
23831               6.62                100
7550                6.63                100

[3513 rows x 2 columns]

You should have a total of $3513$ rated anime

**Q. Which Anime (by ID) was rated most often? How often? What was it's average rating?**

Answer:

Now, we will import a second dataset called `anime.csv`

In this one, the first column is the `anime_id` (which is unique)

You should have $10228$ rows, each describing one anime

In [4]:
## Import the dataset; it looks like this

,name,genre,type,episodes
anime_id,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51
...,...,...,...,...
11095,Zouressha ga Yatte Kita,Adventure,Movie,1
7808,Zukkoke Knight: Don De La Mancha,"Adventure, Comedy, Historical, Romance",TV,23
28543,Zukkoke Sannin-gumi no Hi Asobi Boushi Daisakusen,"Drama, Kids",OVA,1
18967,Zukkoke Sannin-gumi: Zukkoke Jikuu Bouken,"Comedy, Historical, Sci-Fi",OVA,1
13455,Zumomo to Nupepe,Comedy,TV,32

We want to add the ratings from the `anime_ratings` dataframe onto the `anime` dataframe

Every rating in `anime_ratings` has a corresponding entry in `anime`

However, since we removed the entries of lesser rated anime (in the `anime_ratings` dataset), there are anime in the `anime` dataframe without corresponding entries in `anime_ratings`

**Q. If we want to keep all of the information about anime (regardless of whether we have the rating or not), what type of join should we us, considering `anime` as the left and `anime_ratings` as the right dataset?**

Answer:

**Q. If we want to only keep anime which have ratings, what type of join should we use?**

Answer:

Perform a join to keep only anime which have ratings

You should have 3,513 rows

In [5]:
## Here you need to explore the proper join to add the new info to your rating table
## In Python it would take one line of code
## In tableau, you would need to connect the two columns as done in Lab 1

,name,genre,type,episodes,Average Rating,Number of Ratings
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.43,1961
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.32,21494
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.45,1188
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.26,17151
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.27,3115
...,...,...,...,...,...,...
19315,Pupa,"Fantasy, Horror, Psychological",TV,12,4.22,2135
28929,Vampire Holmes,"Comedy, Mystery, Supernatural, Vampire",TV,12,4.19,133
16608,Shitcom,"Comedy, Romance",ONA,1,3.21,192
413,Hametsu no Mars,"Horror, Sci-Fi",OVA,1,2.47,1024
3287,Tenkuu Danzai Skelter+Heaven,"Mecha, Sci-Fi",OVA,1,2.08,210

Sort the data frame by `Average Rating` (descending)

In [6]:
## Sorting!

,name,genre,type,episodes,Average Rating,Number of Ratings
anime_id,,,,,,
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.45,1188
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.43,1961
820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.39,803
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.32,21494
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.27,3115
...,...,...,...,...,...,...
28929,Vampire Holmes,"Comedy, Mystery, Supernatural, Vampire",TV,12,4.19,133
1657,Byston Well Monogatari: Garzey no Tsubasa,Fantasy,OVA,3,4.01,110
16608,Shitcom,"Comedy, Romance",ONA,1,3.21,192
413,Hametsu no Mars,"Horror, Sci-Fi",OVA,1,2.47,1024
3287,Tenkuu Danzai Skelter+Heaven,"Mecha, Sci-Fi",OVA,1,2.08,210

**Q. Which anime was most highly rated?**

Answer:

Sort the data frame by `Number of Ratings` (descending)

In [7]:
## Again, sorting!

,name,genre,type,episodes,Average Rating,Number of Ratings
anime_id,,,,,,
1535,Death Note,"Mystery, Police, Psychological, Supernatural, ...",TV,37,8.83,34226
11757,Sword Art Online,"Action, Adventure, Fantasy, Game, Romance",TV,25,8.14,26310
16498,Shingeki no Kyojin,"Action, Drama, Fantasy, Shounen, Super Power",TV,25,8.73,25290
1575,Code Geass: Hangyaku no Lelouch,"Action, Mecha, Military, School, Sci-Fi, Super...",TV,25,8.93,24126
6547,Angel Beats!,"Action, Comedy, Drama, School, Supernatural",TV,13,8.55,23565
...,...,...,...,...,...,...
1081,Space Pirate Captain Herlock: Outside Legend -...,"Action, Adventure, Drama, Sci-Fi, Seinen, Space",OVA,13,7.78,100
7550,Pokemon: Pikachu Tanken Club,"Adventure, Comedy, Fantasy, Kids",Special,1,6.63,100
1932,Yes! Precure 5,"Action, Fantasy, Magic, School, Shoujo",TV,49,7.38,100
2249,Amon Saga,"Action, Adventure, Fantasy",OVA,1,5.76,100
503,Eien no Aselia,"Adventure, Drama, Fantasy",OVA,2,5.78,100

**Q. Which anime had the most ratings?**

Answer:

The types of anime are `Movie`, `Music`, `ONA`, `OVA`, `Special` and `TV`

Use data aggregation to summarise by type

In [8]:
## In Python, it is better if you drop first the name and genre columns so that you can group by type
## Tools like R also raise warnings, but excel and tableau won't mind when grouping
## Then again, aggregate with the count and the median for number of ratings,
## Finally, rename columns and sort!

         Median Number of Ratings per Anime  Number of Anime
type
TV                                    921.0             1713
OVA                                   349.5              602
Movie                                 719.0              555
Special                               350.0              513
ONA                                   439.0               93
Music                                 255.0               37